body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-stretch:extra-expanded;
}
#container{
    width: auto;
    height:auto;
} 
#map{
    width: 75vw;
    height: 99vh;
    background-color: aquamarine;
    display:block;
    position: absolute;
    float: left;
}
#main{
    width: 20vw;
    height: 100vh;
    margin-left: 76vw;
    
}
.rad{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 10px;
}
#myCanvas{
    z-index: 1;
}
@media (min-width: 320px) and (max-width:900px) {
    #map {
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    }
    #main{
        width: 0;
        height: 0;
        margin-left: 0;
    }
    }
